h3.home-content {
   	font-size: 260%;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 2em 
}

div#container {
	height: 20em;
	min-width: 20em;
	max-width: 30em;
    margin-top: -22em;
    margin-left: 45em;
}

div.hot-data {
	margin-left: 95em;

}